header {
  background-color: white;
  display: flex;
}

header .container {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
}

header .secondLine {
  display: none;
}

header .firstLine {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header .logo {
  height: 50px;
}

header .research {
  height: 40px;
  width: 630px;
  background-color: rgb(242, 242, 242);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0px 10px;
  gap: 15px;
}

header .inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* border: 1px solid blue; */
  gap: 20px;
}

header input:not(#order, #min, #max) {
  width: 100%;
  height: 24px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  font-size: 14px;
  outline: none;
}
::placeholder {
  color: rgb(196, 196, 196);
}

header .glass {
  height: 18px;
}

header .options {
  display: flex;
  /* justify-content: space-between; */
  font-size: 12px;
  /* border: 1px solid yellow; */
  width: 100%;
  gap: 10px;
}

header .desc label {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  /* margin-top: 10px; */
}

header .desc {
  display: flex;
  /* border: 1px solid green; */
  align-items: center;
  line-height: 20px;
  flex: 1;
}

header .slide {
  margin-left: 10px;
  height: 20px;
  width: 40px;
  background-color: #007681;
  border-radius: 10px;
  position: relative;
}

header .symbol {
  position: absolute;
  background-color: white;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
  top: 2px;
}
header .right {
  right: 2px;
}
header .left {
  left: 2px;
}

header .desc #order {
  display: none;
}

header .minmax {
  display: flex;
  align-items: center;
  gap: 10px;
  /* border: 1px solid orange; */
  flex: 3;
  justify-content: space-between;
}

header .slider {
  width: 85%;
}

header .connect {
  display: flex;
  gap: 20px;
}

header .buttons,
header .buttons2 {
  width: 115px;
  line-height: 30px;
  border: 1px solid #007681;
  text-align: center;
  font-size: 12px;
  color: #007681;
  border-radius: 5px;
}

header .disconnect,
header .disconnect2 {
  width: 115px;
  line-height: 30px;
  border: 1px solid #c2175b;
  text-align: center;
  font-size: 12px;
  background-color: #c2175b;
  border-radius: 5px;
  color: white;
}

header button {
  height: 32px;
  width: 115px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  background-color: #007681;
  border: none;
}

header .burger {
  display: none;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
}

header .light {
  background-color: #fafcfc;
}

header .burger:hover {
  background-color: #fafcfc;
}

header .burger > img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
header .buttons2:hover,
header .disconnect2:hover,
header .disconnect:hover,
header button:hover,
header .buttons:hover,
header .logo:hover {
  cursor: pointer;
}

header .smallScreens {
  display: none;
}

/* ----------RESPONSIVE------------- */
/* ----------RESPONSIVE------------- */
/* ----------RESPONSIVE------------- */

@media (max-width: 1260px) {
  header .burger {
    display: flex;
  }

  header .secondLine {
    height: 60px;
    /* border: 1px solid green; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  header .buttons,
  header button,
  header .disconnect {
    display: none;
  }
}

@media (max-width: 1015px) {
  /* header .research {
    flex: 1;
    width: 100%;
  }

  header .inputs {
    display: flex;
    flex: 1;
  } */

  header .bigScreens {
    display: none;
  }

  header .smallScreens {
    display: flex;
    padding: 20px;

    align-items: center;
  }
}

@media (max-width: 880px) {
  /* header .options {
    flex-direction: column;
  } */
}
