header {
  background-color: white;
  display: flex;
}

header .container {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
}

header .secondLine {
  display: none;
}

header .firstLine {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header .logo {
  height: 50px;
}

header .research {
  height: 40px;
  width: 630px;
  background-color: rgb(242, 242, 242);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0px 10px;
  gap: 15px;
}

header input {
  width: 100%;
  height: 24px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  font-size: 14px;
  outline: none;
}
::placeholder {
  color: rgb(196, 196, 196);
}

header .glass {
  height: 18px;
}

header .connect {
  display: flex;
  gap: 20px;
}

header .buttons,
header .buttons2 {
  width: 115px;
  line-height: 30px;
  border: 1px solid #007681;
  text-align: center;
  font-size: 12px;
  color: #007681;
  border-radius: 5px;
}

header .disconnect,
header .disconnect2 {
  width: 115px;
  line-height: 30px;
  border: 1px solid #c2175b;
  text-align: center;
  font-size: 12px;
  background-color: #c2175b;
  border-radius: 5px;
  color: white;
}

header button {
  height: 32px;
  width: 115px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  background-color: #007681;
  border: none;
}

header .burger {
  display: none;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
}

header .light {
  background-color: #fafcfc;
}

header .burger:hover {
  background-color: #fafcfc;
}

header .burger > img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

header .disconnect:hover,
header button:hover,
header .buttons:hover,
header .logo:hover {
  cursor: pointer;
}

/* ----------RESPONSIVE------------- */
/* ----------RESPONSIVE------------- */
/* ----------RESPONSIVE------------- */

@media (max-width: 1260px) {
  header .burger {
    display: flex;
  }

  header .secondLine {
    height: 60px;
    /* border: 1px solid green; */
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  header .buttons,
  header button,
  header .disconnect {
    display: none;
  }
}

@media (max-width: 1015px) {
  header .research {
    flex: 1;
    width: 100%;
  }

  header .inputs {
    display: flex;
    flex: 1;
  }
}
