/* --------GENERAL--------- */
/* --------GENERAL--------- */
/* --------GENERAL--------- */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 34px;
  line-height: 40px;
  color: #171717;
  font-weight: 500;
}

.container {
  width: 1300px;
  margin: 0 auto;
  /* display: flex; */
  /* border: 1px red solid; */
}

/* --------HOME--------- */
/* --------HOME--------- */
/* --------HOME--------- */
main {
  display: flex;
}

main .blocktext {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
}

main .blocktext button {
  height: 45px;
  border-radius: 5px;
  background-color: #007681;
  color: white;
  border: none;
  font-size: 16px;
}

main .blocktext button:hover {
  cursor: pointer;
}

main .banner {
  display: flex;
}

main .banner img:first-of-type {
  height: 450px;
  width: 100vw;
  padding: 0px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  z-index: -2;
}

main .banner img:last-of-type {
  /* border: 1px solid blue; */
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 890px;
}

main .container {
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
}

main .blocktext {
  height: 270px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 150px;
}

main .offers {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 10px;
}

.link {
  width: 19%;
  text-decoration: none;
}

main .offers .offerUnique {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* flex: 1; */
  /* flex-shrink: 0; */
  margin-bottom: 30px;
  /* height: 465px; */
  /* border: 1px solid green; */
}

.offerUnique .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #999999;
  font-size: 12px;
}

.offerUnique .user img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.offerUnique .productpic {
  width: 100%;
  height: 360px;
  object-fit: cover;
  margin-bottom: 15px;
}

.offerUnique .price {
  font-size: 14px;
  color: black;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.offerUnique .size,
.offerUnique .brand {
  font-size: 12px;
  color: #999999;
  margin-left: 10px;
  margin-bottom: 5px;
}

/* ----------OFFER------------- */
/* ----------OFFER------------- */
/* ----------OFFER------------- */

.offer {
  background-color: #ebedee;
  display: flex;
}

.offer .container {
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
}

.offer .pictures {
  display: flex;
}

.offer .pictures > img {
  width: 450px;
  height: 600px;
  object-fit: cover;
}

.offer .pictures .mini {
  display: flex;
  flex-direction: column;
}

.offer .pictures .mini > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  opacity: 50%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 20px;
}
.offer .pictures .mini > img:hover {
  opacity: 100%;
  cursor: pointer;
}

.offer .informations {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  justify-content: space-between;
}

.offer .price {
  font-size: 24px;
  color: #111111;
  margin-bottom: 30px;
}

.offer .detail {
  display: flex;
}
.offer .detail > p {
  width: 50%;
  font-size: 14px;
  margin-bottom: 10px;
}

.offer .detail > p:first-of-type {
  color: #999999;
}

.offer .detail > p:last-of-type {
  color: #666666;
  font-weight: bold;
}

.offer .border {
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  margin: 45px 0px;
}

.offer .title {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}

.offer .description {
  font-size: 16px;
  color: #666666;
  line-height: 20px;
  margin-bottom: 20px;
}

.offer .user {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.offer .userpic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.offer button {
  background-color: #007681;
  color: white;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.offer button:hover {
  cursor: pointer;
}

/* ----------MODALE------------- */
/* ----------MODALE------------- */
/* ----------MODALE------------- */

.registerModal,
.connexionModal {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  top: 0;
}

.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 300px;
  margin: 150px auto;
  border-radius: 10px;
  height: fit-content;
  /* box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5); */
}

.modal h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.modal .cross {
  text-align: end;
}
.modal .cross:hover {
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .username,
form .email,
form .password {
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px rgb(255, 0, 0, 0.3) solid;
  font-size: 16px;
}

form div:first-of-type {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

form .checkboxinput {
  display: none;
}

label {
  position: relative;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

label:hover {
  cursor: pointer;
}

label .box {
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0, 0.3);
}

form .green {
  background-color: #007681;
}

label .box:hover {
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
}

form .conditions {
  font-size: 12px;
  color: #666666;
}

form input:last-of-type {
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #007681;
  color: white;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}
form input:last-of-type:hover {
  cursor: pointer;
}

form > p:last-of-type {
  font-size: 12px;
  color: #007681;
  text-align: center;
}

form > p:last-of-type:hover {
  cursor: pointer;
}

form .onmissing,
form .existing {
  font-size: 14px;
  color: red;
}
/* ----------RESPONSIVE------------- */
/* ----------RESPONSIVE------------- */
/* ----------RESPONSIVE------------- */

@media (max-width: 1260px) {
  /* .link {
    width: 24%;
  } */
}
@media (max-width: 1015px) {
  .offer .pictures > img {
    width: 300px;
    height: 540px;
    object-fit: cover;
    margin-right: 5px;
  }

  .offer .pictures .mini {
    display: flex;
    flex-direction: row;
  }

  .offer .pictures .mini > img {
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 5px;
  }

  .offer .pictures {
    flex-direction: column;
  }
}

@media (max-width: 880px) {
  .link {
    width: 24%;
  }
}

@media (max-width: 745px) {
  .offer .informations {
    width: 230px;

    padding: 10px;
  }

  .link {
    width: 32%;
  }

  .offer .container {
    padding: 30px 0px;
  }
}

@media (max-width: 550px) {
  .link {
    width: 48%;
  }

  .offer .container {
    flex-direction: column;
    gap: 30px;
  }

  .offer .pictures > img {
    width: 80%;
    height: 300px;
    margin-right: 5px;
  }

  .offer .pictures {
    flex-direction: row;
    justify-content: space-between;
  }

  .offer .pictures .mini > img {
    width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .offer .informations {
    width: 100%;
    padding: 10px;
  }

  .offer .pictures .mini {
    flex-direction: column;
  }

  main .blocktext {
    width: 250px;
  }

  h1 {
    font-size: 28px;
  }
}
